@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-500 ease-in-out;
  }

  /* Global transition for all common UI elements to prevent "flashing" */
  *,
  *::before,
  *::after {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
}

/* Remove separate class as we are applying globally */